<!DOCTYPE html>
<html>
<head>
  <title>Keplerator</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='toptext'>
      <%= link_to "Home", '/'  %> |
    <% if File.exists?(Rails.root.join("app","views",params[:controller],"_navbar.html.erb")) %>
      <%= render :partial => params[:controller]+"/navbar" %>
    <% else %> 
      <%= link_to "Concepts", '/lexicon/'  %> |
      <%= link_to "Ptolemy", '/ptolemy/'  %> |
      <%= link_to "Shatir", '/shatir/'  %> |
      <%= link_to "Tycho", '/tycho/'  %> |
      <%= link_to "Nicolas", '/copernicus/'  %> |
    <% end %> 
    <div class='right'>
      <%= link_to "About", '/about'  %> 
    </div>
  </div>

<%= yield %>
<canvas id="dynamic">Your browser needs to support the HTML5 canvas element to view these animations properly.  Best viewed in Firefox.</canvas>
<canvas id="static"></canvas>
</body>
</html>
